
body{
  margin: 0px;
  padding: 0px;
}
   img {
    justify-content: center;
    position: absolute;
    z-index: -1;
    width:100%;
    height:auto;
   }
   .img2{
    position: relative;
    width:70%;
    display: block;
    margin-left: auto;
    margin-right: auto;

   }
   .btns{
    flex:auto;
    flex-direction: row;
    position: relative;
    top:auto ;
    justify-content: center;
    z-index: 2;
    color: blue;
   }
   button{
    z-index: 3;
    color: blue;
    background-color: grey;
   }

   